.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.popup.active {
    display: block;
}

.popup button {
    margin: 5px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#save-button, #back-button {
    background-color: #87CEFA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Added space between buttons */
}

#save-button:hover, #back-button:hover {
    background-color: #C8E8E3;
}

#nav-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 36px; /* Increased font size */
    color: #00008B; /* Dark blue color */
    cursor: pointer;
}

#nav-back-button:hover {
    color: #0000CD; /* Medium blue color on hover */
}

svg {
    width: 36px;
    height: 36px;
    fill: #00008B; /* Dark blue color */
    transition: fill 0.3s ease;
}

svg:hover {
    fill: #0000CD; /* Medium blue color on hover */
}